body{
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
   background-color: white;
  
}
a, a:visited {
    color: yellow;
}
.header {
  background-color: #3D426F;
//   color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
